/*.playerStat {
    -fx-background-color: #444;
}
.playerStat, .playerStat * {
    -fx-fill: #ddd;
}/**/
.playerStat * {
    -fx-background-color: transparent;
}


.treasureStats .label {
    -fx-font-size: 11;
}

.playerStat.active {
    /*-fx-background-color: #fff;/**/
    -fx-effect: innershadow(three-pass-box, rgba(50,50,50,0.7), 10, 0.5, 0, 0 );
}